{% extends 'base.html.twig' %}

{% block title %}Hello CookieCheckController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper" id="ipg">
</div>

    <script type="text/javascript">
        var frame = document.createElement('iframe');
        frame.id = '3pc';
        frame.src = '{{ asset('check/index.html') }}';
        frame.style.display = 'none';
        frame.style.position = 'fixed';

        window.addEventListener(
            'message',
            function listen(event) {
                if (event.data === '3pc.supported' || event.data === '3pc.unsupported') {
                    supported = event.data === '3pc.supported';
                    document.body.removeChild(frame);
                    window.removeEventListener('message', listen);
                }
            },
            false
        );

        setTimeout(function() {
            if (supported === null) {
                supported = false;
                document.body.removeChild(frame);
            }
            console.info(supported);
        }, 1e3);

        document.body.appendChild(frame);
    </script>
{% endblock %}
